<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">-->

    <!--&lt;!&ndash; enable component scanning (beware that this does not enable mapper scanning!) &ndash;&gt;-->
    <!--<context:component-scan base-package="org.xiaod.datatest" />-->

    <!--&lt;!&ndash; enable autowire &ndash;&gt;-->
    <!--<context:annotation-config />-->

    <!--&lt;!&ndash; import other spring-properties &ndash;&gt;-->
    <!--<import resource="spring-data.xml"/>-->

<!--</beans>-->